/* Polices */
@import url('https://ent.netocentre.fr/commun/fonts/Source_Sans_Pro/SourceSansPro.css');

/* theme */
*{
  /*--r-blue: #2F3291;*/
  --r-blue: #25B2F3;
  --r-green: #8E9120;
  --r-grey:#A5A5A5;
  --r-light-grey:#e2e8f0;
  --r-dark-grey: #303030;
}

html,body{
  max-height:100%;
}

body {
  --c-primary: var(--r-blue);
  --c-primary-dark: var(--r-dark-grey);
  --c-bd-primary: var(--r-blue);
  --c-bd-page: var(--r-blue);

  /* links */
  --c-link: var(--c-primary);
  --c-link-hover: var(--r-dark-grey);

  /* forms */
  --c-bg-checked: var(--c-primary);
  --c-bd-active: var(--c-primary);

  /* header */
  --c-bg-navbar: var(--g1);
  --c-txt-navbar: var(--r-blue);

  --c-bg-navbar-dd: transparent;
  --c-txt-navbar-dd: var(--r-grey);
  --c-bg-navbar-dd-active: var(--r-light-grey);

  /* BG */
  --c-bg: var(--r-light-grey);

  /* titles */
  --c-title: var(--r-dark-grey);

  /* icon */
  --c-warning:var(--r-blue);

  /* alert */
  --c-bg-accent: var(--r-blue);
  --c-text-accent: var(--r-light-grey);
}



html body.admin-menu {
    margin-top: 0px !important;
    padding-top: 29px;
}

a, a:link{
  text-decoration: none;
}

a:focus, a:hover, a:visited{
  text-decoration: underline;
}

body #highlighted .big-title {
  font-size: 0;
}

body #highlighted .big-title::before {
  content: "Recia";
  font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
  font-size: 42px;
  color: var(--r-blue);
}
body #highlighted .big-title::after {
  content: "forms";
  font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
  font-size: 42px;
  color: var(--r-green);
}

.front #main-wrapper #main, .front #footer-wrapper #footer {
  margin: 1rem auto 1rem;
  width: auto;
  max-width: 800px;
}

.front #main-wrapper #main{
  margin: 2rem auto 1rem;
  width: auto;
  max-width: 800px;
  background: var(--c-bg-lite);
  padding: 2rem;
  border-top: 2px solid var(--c-bd-page);
}

#homeback{
  display: flex;
  justify-content: end;
}

.panel-separator{
  display:block;
  margin: 2rem auto;
  border-bottom: 3px solid var(--c-bg-lite2);
}

/** In iframe **/

body.inframe, body.inframe #page, body.inframe #page-wrapper, body.inframe #main-wrapper, body.inframe #footer-wrapper {
  background: transparent !important;
}

.inframe #page-wrapper{
  height:100%;
}
