@import url('/commun/fonts/Source_Sans_Pro/SourceSansPro.css');

*{
    --t-primary: #2d2f80;
    --t-light-grey: #e2e8f0;
    --t-dark-grey: #303030;
    --t-fonts: 'Source Sans Pro', sans-serif;
}

/** Footer **/
#recia-footer{
background-color: var(--r-dark-grey);
color:var(--r-light-grey);
display: flex;
}

#recia-footer a{
    color:var(--r-light-grey);
}

.inframe #recia-footer{
    display:none;
}


#recia-footer .recia-footer-coord{
    flex:1;
    text-align: left;
}

#recia-footer .recia-footer-coord img{
    width: 70px;
}

#recia_footer .recia-footer-mention{
    flex:1;
    text-align: right;
}

@media (min-width: 576px) {
    #recia-footer-wrapper {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    #recia-footer-wrapper {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    #recia-footer-wrapper {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    #recia-footer-wrapper {
        max-width: 1140px;
    }
}